*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../Imagenes/login/fondo_login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo_avion{
    padding: 30px 250px;
}
.container{
    max-width: 320px;
    height: 420px;
    background-color: black;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    padding: 70px 30px;
}

.container img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.container h1{
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.5em;
}

.container label{
    font-weight: bold;
    display: block;
}
.container input{
    width: 100%;
    margin-bottom: 20px;
}
.container input[type="text"], .container input[type="password"]
{
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
    height: 40px;
    color: white;
}
.container button[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    font-size: 1.1em;
    margin-bottom: 20px;
    background-color: red;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius:15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.container button[type="submit"]:hover{ 
    background-color: white;
    color: white;
    text-shadow: 2px 2px 0 red, 2px -2px 0 red, -2px 2px 0 red, 
    -2px -2px 0 red, 2px 0px 0 red, 0px 2px 0 red, -2px 0px 0 red, 0px -2px 0 red;;
}

.container a{
    text-decoration: none;
    display: block;
    color: block;
    color: darkgray;
    font-size: 0.8em;
    line-height: 25px;
}
