body{
    background-image: url(../Imagenes/Singapur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo_avion{
    padding: 0px 250px;
}

.container{
    width: 100%;
    height: 620px;
    background-color: rgb(42, 110, 165);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%,-60%);
    -webkit-transform: translate(-60%,-60%);
    -moz-transform: translate(-60%,-60%);
    -ms-transform: translate(-60%,-60%);
    -o-transform: translate(-60%,-60%);
    padding: 50px 25px;
}
.container h1{
    padding-bottom: 20px;
}
