<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/css/Login.css}">
</head>
<body>
  <img  class="logo_avion" src="Imagenes/login/Avion_Fondo.png" alt="avion">
    <div class="container">
      <img src="Imagenes/login/Usuario.png" alt="logo">
      <form th:action="@{/Login}" method="post">
        <h1> LOGIN </h1>


        <label for="username">Username:</label>
        <input class="form-control" id="username" name="username" type="text" placeholder="name@example.com" />
        <label for="password">Password:</label>
        <input class="form-control" id="password" name="password" type="password" placeholder="Password" />
        <button type="submit" class="btn btn-primary">Login</button>

        <!--<input  type="submit"  id="login_btn"> -->
        <a href="#">¿Olvidaste la Contraseña?</a>
        <a th:href="@{/}">Regresa a la Página Principal</a>
      </form>
     
    </div>

   
</body>
</html>