<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agencia de viajes</title>
    <link  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/tours.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/28e0b35790.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/all.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script th:src="@{/JS/index.js}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-transparent fixed-top">
    </div>
    <div class="container-fluid menu">
            <a class="navbar-brand logo" th:href="@{/}">ADVENTOURS</a>
            <img src="Imagenes/LOGO.3.png" alt="Logo" class="logo_img">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/}">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/Vuelos}">VUELOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/Hoteles}">HOTELES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/Tours}">TOURS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/Contacto}">CONTACTO</a>
          </li>
        </ul>
      </div>
     </div>
  </nav>
<!--OPCIONES DE TOURS - PORTAFOLIO-->

      <!-- Portafolio -->
      <section>
        <div class="container text-center">
          <div class="col-md-12 ">
            <div class="subtitulo">
               <h2>Tours</h2>
            </div>
         <!--</div>
            <div class="row">
                <div class="cal-md-6 col-lg-4 mb-5">
                    <div class="portafolio" data-bs-toggle="modal" data-bs-target="#Portafolio1">
                        <img class="img-fluid" src="Imagenes/tour1.jpg">
                    </div>
                    <div class="mover mt-3">
                        <h3 class="mover1">City tour Lima</h3>
                        <p class="mover2">Cantidad: 3</p>
                        <p class="mover3">Desde $100</p>
                    </div>
                </div>
                <div class="cal-md-6 col-lg-4 mb-5">
                    <div class="portafolio " data-bs-toggle="modal" data-bs-target="#Portafolio2">
                        <img class="img-fluid" src="Imagenes/tour2.jpg">
                    </div>
                    <div class="mover mt-3">
                        <h3 class="mover1">Huacachina</h3>
                        <p class="mover2">Cantidad: 1</p>
                        <p class="mover3">Desde $120</p>
                    </div>
                </div>
                <div class="cal-md-6 col-lg-4 mb-5">
                    <div class="portafolio" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <img class="img-fluid" src="Imagenes/tour3.jpg">
                    </div>
                    <div class="mover mt-3">
                        <h3 class="mover1">Cusco City Tour</h3>
                        <p class="mover2">Cantidad: 5</p>
                        <p class="mover3">Desde $70</p>
                    </div>
                </div>
                <div class="cal-md-6 col-lg-4 mb-5">
                    <div class="portafolio" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <img class="img-fluid" src="Imagenes/tour4.jpg">
                    </div>
                    <h3 class="mover1">Super valle sagrado</h3>
                    <p class="mover2">Cantidad: 6</p>
                    <p class="mover3">Desde $80</p>
                </div>
                <div class="cal-md-6 col-lg-4 mb-5">
                    <div class="portafolio" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <img class="img-fluid" src="Imagenes/tour5.jpg">
                    </div>
                    <h3 class="mover1">Machupicchu</h3>
                    <p class="mover2">Cantidad: 5</p>
                    <p class="mover3">Desde $100</p>
                </div>
                <div class="cal-md-6 col-lg-4 mb-5">
                    <div class="portafolio" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <img class="img-fluid" src="Imagenes/tour6.jpg">
                    </div>
                    <h3 class="mover1">Laguna huamantay</h3>
                    <p class="mover2">Cantidad: 4</p>
                    <p class="mover3">Desde $70</p>
                </div>
            </div>-->
            <div class="row mb-2">
              <tr th:each="item : ${listaTour}">
                  <!--este es el ID-->
                  <!--td th:text="${item.vuelo_id}"></td-->
                  <div class="cal-md-6 col-lg-4 mb-5 moverNuevo">
                      <div class="portafolio" data-bs-toggle="modal" data-bs-target="#Portafolio1">
                          <img class="imgNuevo" 
                           th:src="'data:image/jpg;base64,' + ${item.tour_imagen}"
                           alt="Imagen referencial del vuelo"/>
                      </div>
                      <div class="mover mt-3">
                          <h3 class="mover1">Nombre: <td class="mover1" th:text="${item.tour_nombre}"></td></h3>
                          <p class="mover2">Descripcion: <td th:text="${item.tour_descripcion}"></td></p>
                          <p class="mover3">Destino: <td th:text="${item.tour_destino}"></td></p>
                          <p class="mover4">Precio: <td th:text="${item.tour_precio}"></td></p>
                      </div>
                  </div>
              </tr>
          </div>
            <div class="boton_compra">
              <a th:href="@{/Contacto}" type="button" class="btn btn-success"> <i class="fa-sharp fa-solid fa-cart-shopping" ></i>  Haz Click Aquí Para Comprar</a>         
            </div>
        </div>
    </section>
      <!-- Pie de página 
-->
<footer>
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-3 ft">
        <p class="footertext">Acerca de</p>
        <a class="nav-link mb-3" href="#">Terminos y condiciones</a>
        <a class="nav-link" href="#">Información legal</a>
      </div>
      <div class="col-3 ft">
        <p class="footertext">
          Contacto</p>
        <p>agenciadeviajes@correo.com</p>
        <p>Av. Tingo María 1122, Lima 15083</p>
      </div>
      
      <div class="col-3 ft">
        <p class="footertext">Redes sociales</p>
        <a class="fa-brands fa-facebook fa-2xl nav-link espacio" href=""></a>
        <a class="fa-brands fa-x-twitter fa-2xl nav-link espacio" href=""></a>
        <a class="fa-brands fa-instagram fa-2xl nav-link espacio" href=""></a>
        <a class="fa-brands fa-tiktok fa-2xl nav-link espacio" href=""></a>
        <a class="fa-brands fa-whatsapp fa-2xl nav-link espacio" href=""></a>
      </div>
      <p class="copy">&copy; 2023 Agencia de viajes. Todos los derechos reservados.</p>
      <a th:href="@{/Login}"><span class="fa-solid fa-right-to-bracket fa-2xl"></span> ¿Eres parte de nosotros?</a>
    </div>
  </div>
</footer>
  </body>
  <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
            defer
          ></script>
  </html>